%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      %ul.nav.pull-left
        %li= link_to image_tag("bender.jpg", size: "40x40", alt: "Rails"), root_path
        %li= link_to "Pin-robot", root_path, id: "logo"
      %nav
        %ul.nav.pull-right
          /%li= link_to "Join us now!", '#', class: "btn btn-small btn"
          %li= link_to "Home", root_path
          %li= link_to "Log-in", login_path
          %li= link_to "Log-out", logout_path
          %li= link_to "Sign-up", signup_path
          /link_to "Sign out", destroy_user_session_path, :method => :delete, class: "btn btn-medium btn-primary"